<aside>
  <h5><span>个人中心</span></h5>
  <p class="text-center preson" *ngIf="false">
    <a href="../login.html" >登录</a>
    <a href="../register.html" >注册</a>
  </p>
    <div class="text-center person">
      <a href="/user/1">
        <img src="/assets/images/default-avatar.jpg" tooltip="change your avatar" placement="bottom" container="body">
      </a>
      <a href="/user/1" class="center-block user-name" >nl101531</a>
    </div>
    <p>格言:<br><span>书山有路勤无用,学海无涯钱做主</span></p>
    <p class="tagcloud">近期AC:<br>
      <a href="#" style="font-size: 12px;">1000</a>
    </p>

</aside>
