<header [ngClass]="{'navbar-fixed-top index-header': getIsIndex(),'wight-backcolor':!getIsIndex()}">
  <div class="navbar navbar-lg" role="navigation" [ngClass]="{'nav-backcolor': isBackColor}">
    <div class="container">

      <div class="navbar-title">
        <a class="navbar-brand" routerLink="/">AUST</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="aust/start" routerLinkActive="active">起步</a></li>
          <li><a routerLink="aust/practice" routerLinkActive="active">训练</a></li>
          <li><a routerLink="aust/master" routerLinkActive="active">进阶</a></li>
          <li><a routerLink="aust/contest" routerLinkActive="active">比赛</a></li>
          <li><a routerLink="aust/rank" routerLinkActive="active">排名</a></li>
          <li><a routerLink="aust/article" routerLinkActive="active">干货</a></li>
          <li class="btn-group dropdown" dropdown>
            <a (click)="false" href dropdownToggle class="dropdown-toggle">联系我们<b class="caret"></b></a>
            <ul *dropdownMenu class="dropdown-menu animated fadeIn" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=fBIVCRAVTU08DQ1SHxMR"
                                     target="_blank"><i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;文章投稿</a></li>
              <li role="menuitem"><a class="dropdown-item" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=fBIVCRAVTU08DQ1SHxMR"
                                     target="_blank"><i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;题目投稿</a></li>
              <!--<li role="menuitem" class="divider"></li>-->
              <!--<li role="menuitem" class="dropdown-header">意见反馈</li>-->
              <!--<li role="menuitem"><a class="dropdown-item" href="#footer"><i class="fa fa-qq"></i>&nbsp;&nbsp;QQ</a></li>-->
              <!--<li role="menuitem"><a class="dropdown-item" href="#footer"><i class="fa fa-wechat"></i>&nbsp;&nbsp;We Chat</a></li>-->
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!currentUser">
          <li><a  routerLink="login" >登 录</a></li>
          <li><a routerLink="register">注 册</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="currentUser">
          <li><a *ngIf="currentUser" routerLink="/aust/user" >{{currentUser.nickname}}</a></li>
          <li><a (click)="loginOut()">退出</a></li>
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</header>
