<footer class="footer">
  <div class="row">
    <div class="col-md-4 col-lg-offset-2">
      AUST University Of Technology Online Judge<br/>
      Copyright © 2010-2015 AUST NIU LI <br/>
      All Copyright Reserved
    </div>
    <div class="footer-socials">
      <div class="text-center footer-qrcode">
       <span>
           <template #wechatTemplate>
             <img class="qrcode" src='http://oobu4m7ko.bkt.clouddn.com/wechat.jpg'/>
           </template>
           <i [tooltip]="wechatTemplate"
              placement="top" class="iconfont icon-weixin" style="font-size: 3.3em"></i>
       </span>
        <span>
          <template #qqTemplate>
            <img class="qrcode" src='http://oobu4m7ko.bkt.clouddn.com/qq.jpg'/>
          </template>
           <i [tooltip]="qqTemplate"
              placement="top" class="iconfont icon-QQ" style="font-size: 3em"></i>
       </span>
      </div>
      <div class="backtop text-center">
        <a href="javascript:void(0)" (click)="smoothScroll()">BACK TO TOP</a>
      </div>
    </div>
  </div>
</footer>


