<footer class="footer">
  <div class="row">
    <div class="col-md-4 col-lg-offset-2">
      AUST University Of Technology Online Judge<br/>
      Copyright © 2010-2015 AUST NIU LI <br/>
      All Copyright Reserved
    </div>
    <div class="footer-socials">
      <div class="text-center">
       <span>
           <template #wechatTemplate>
             <img class="qrcode" src='http://oce4brl1p.bkt.clouddn.com/austojwechat.jpg'/>
           </template>
           <i [tooltip]="wechatTemplate"
              placement="top" class="fa fa-wechat fa-3x mrs"></i>
       </span>
        <span>
          <template #qqTemplate>
            <img class="qrcode" src='http://oce4brl1p.bkt.clouddn.com/austojqq.jpg'/>
          </template>
           <i [tooltip]="qqTemplate"
              placement="top" class="fa fa-qq fa-3x mrs"></i>
       </span>
      </div>
      <div class="backtop text-center">
        <a href="javascript:void(0)" (click)="smoothScroll()">BACK TO TOP</a>
      </div>
    </div>
  </div>
</footer>
