<strong>&nbsp;&nbsp;须知:</strong><br/>
<p class="page-text">
  {{currentMsg}}
</p>
<h4 class="text-center">当前目录:{{catelogName}}</h4>
<div class="fixed-table-toolbar">
  <div class="btn-group pull-right">
    <button class="btn btn-default btn-outline" (click)="doRefresh()" type="button" name="refresh" title="Refresh"><i
      class="fa fa-refresh"></i></button>
  </div>
  <div class="pull-right search">
    <input [(ngModel)]="search" (keyup.enter)="doSearch()"
           class="form-control input-outline" type="text" placeholder="Enter End">
  </div>
</div>
<table class="table table-striped table-bordered" width="100%">
  <thead>
  <tr>
    <th class="col-xs-1">ID</th>
    <th class="col-xs-5">题目标题</th>
    <th class="col-xs-2">涉及知识点</th>
    <th class="col-xs-1">难度</th>
    <th class="col-xs-2">AC/Submit</th>
    <th class="col-xs-1">讨论</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-center" *ngIf="!problems">
    <td colspan="100%">加载中......</td>
  </tr>
  <tr class="text-center" *ngIf="problems && problems.length == 0">
    <td colspan="100%">无更多的数据......</td>
  </tr>
  <tr class="text-center" *ngFor="let item of problems">
    <td class="col-xs-1">{{item.id}}</td>
    <td class="col-xs-5"><a routerLink="/aust/problem/{{item.id}}">{{item.title}}</a></td>
    <td class="col-xs-2">{{item.keyword}}</td>
    <td class="col-xs-1">{{item.difficulty}}</td>
    <td class="col-xs-2">{{item.acRate}}</td>
    <td class="col-xs-1"><a href="#">讨论</a></td>
  </tr>
  </tbody>
</table>
<!--一页显示20条-->
<div *ngIf="totalItems > 20">
  <pagination [boundaryLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="20" class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>
