<div *ngIf="currentUser">
  <strong>&nbsp;&nbsp;须知:</strong><br/>
  <p class="page-text">
    如有问题请发送反馈告知
  </p>
  <h4 class="text-center">提交列表</h4>
  <table class="table-bordered table-striped text-center table-condensed" width="100%">
    <thead>
    <tr>
      <th class="col-xs-1">ID</th>
      <th class="col-xs-3">题目</th>
      <th class="col-xs-3">提交时间</th>
      <th class="col-xs-1">内存(M)</th>
      <th class="col-xs-1">时间(ms)</th>
      <th class="col-xs-1">大小(KB)</th>
      <th class="col-xs-1">语言</th>
      <th class="col-xs-2">状态</th>
      <th class="col-xs-1">Pass</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" *ngIf="!submits">
      <td colspan="100%">加载中......</td>
    </tr>
    <tr class="text-center" *ngIf="submits && submits.length == 0">
      <td colspan="100%">无更多的数据......</td>
    </tr>
    <tr class="text-center" *ngFor="let item of submits">
      <td class="col-xs-1">{{item.id}}</td>
      <td class="col-xs-3"><a routerLink="/aust/problem/{{item.problemId}}">{{item.problemTitle}}</a></td>
      <td class="col-xs-3">{{item.createdate}}</td>
      <td class="col-xs-1">{{item.memory}}</td>
      <td class="col-xs-1">{{item.time}}</td>
      <td class="col-xs-1">{{item.codeLength}}</td>
      <td class="col-xs-1">{{item.language}}</td>
      <td class="col-xs-2" appSolutionHight judgeCode="{{item.verdictCode}}">{{item.verdict}}</td>
      <td class="col-xs-1">{{item.testcase}}</td>
    </tr>
    </tbody>
  </table>

  <!--一页显示20条-->
  <div *ngIf="total > 20" style="margin-top: 20px">
    <pagination [boundaryLinks]="false" [totalItems]="total" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="20" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
