.tips {
  margin-top: -25px;
  margin-bottom: 5px;
  overflow: hidden;
}

.tips .tips-bg {
  position: relative;
  padding: 5px;
}

.tips .tips-bulls {
  position: absolute;
  left: 34px;
  top: 6px;
}
