<!--标题部分-->
<div class="title">
  <h3 class="text-center text-primary">
    <a href="#">A+B问题</a>
  </h3>
  <p class="text-center text-danger">
    <span>时间:1000ms  </span>
    <span> 内存:32M</span></p>
  <hr>
</div>
<!--留言讨论框-->
<div class="discuss-block row">
  <!--投票部分-->
  <div class="discuss-vote col-md-1">
    <button class="like"
            data-placement="top" data-container="body" data-toggle="tooltip" title="留言对人有帮助，有参考价值"><i
      class="fa fa-caret-up"></i></button>
    <span>0</span>
    <button class="hate"
            data-placement="bottom" data-container="body"
            data-toggle="tooltip"
            title="留言没帮助，是错误的答案，答非所问"><i class="fa fa-caret-down"></i>
    </button>
  </div>
  <!--留言框-->
  <div class="discuss-detail col-md-11">
    <div class="discuss-content">
      <p>留言内容</p>
    </div>
    <!--底部按钮-->
    <div class="discuss-tools">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline">
            <li>
              <a href="javascript:void(0);">编辑</a>
            </li>
            <li><a href="javascript:void(0);">评论</a>
            </li>
            <li>
              <a href="javascript:void(0);">删除</a>
            </li>
            <li><a href="javascript:void(0);">举报</a>
            </li>
            <li><span class="time">2016-10-17 23:00:00</span>
            </li>
          </ul>
        </div>
        <!--底部头像-->
        <div class="col-md-4 discuss-userDO">
          <a href="#">
            <img src="apple-touch-icon.png" class="img-circle" width="32" height="32"
                 style="padding-bottom: 3px">
            <span style="margin-left: 5px">牛李</span>
          </a>
        </div>
      </div>
      <!--该留言下的具体子内容-->

    </div>

  </div>
</div>
<!--分页-->
<ul class="pagination-plain">
  <li class="previous">
    <a href="#">Previous</a>
  </li>
  <li class="next" style="float: right">
    <a href="#">next</a>
  </li>
</ul>
