
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493564688929'); /* IE9*/
  src: url('iconfont.eot?t=1493564688929#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493564688929') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493564688929') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493564688929#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\343b"; }

.icon-shuaxin:before { content: "\f004b"; }

.icon-home:before { content: "\e611"; }

.icon-shezhi:before { content: "\e61a"; }

.icon-QQ:before { content: "\e607"; }

.icon-user:before { content: "\e677"; }

.icon-key:before { content: "\e66e"; }

.icon-zhengque:before { content: "\e64d"; }

.icon-tubiaozitihua09:before { content: "\e741"; }

.icon-tixing:before { content: "\e647"; }

.icon-heart:before { content: "\e654"; }

.icon-icon12:before { content: "\e60d"; }

.icon-wenzhang:before { content: "\e6bc"; }

.icon-shuqian:before { content: "\e50f"; }

.icon-eyes:before { content: "\e6d9"; }

