<!--最上角返回主页-->
<div class="small-home">
  <a class="text-center" routerLink="/"><i class="iconfont icon-home"></i></a>
</div>

<div class="index-one">
  <!--标题-->
  <div class="container-fluid text-center animated fadeInDown">
    <h1 class="login-logo">AUST</h1>
    <h6 class="text-danger">{{postError}}</h6>
  </div>
  <!--input框-->
  <div class="row animated fadeInUp">
    <div class="login-field">
      <form role="form" [formGroup]="userForm" (ngSubmit)="doRegister()" novalidate>
        <!--昵称-->
        <div class="input-group form-group" [ngClass]="{'has-error': formErrors.nickName}">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input formControlName="nickName"  type="text" class="form-control"
                 placeholder="昵称">
        </div>
        <!--邮箱-->
        <div class="input-group form-group" [ngClass]="{'has-error': formErrors.email}">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input formControlName="email" type="email" class="form-control"
                 placeholder="example@XX.com" (blur)="checkRepeatEmail()" >
        </div>
        <!--密码-->
        <div class="input-group form-group" [ngClass]="{'has-error': formErrors.password}">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input formControlName="Password" type="password" class="form-control"
                 placeholder="Password" >
        </div>
        <!--确认密码-->
        <div class="input-group form-group" [ngClass]="{'has-error': formErrors.confirmPassword}">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input formControlName="confirmPassword" type="password" class="form-control"
                 placeholder="confirmPassword">
        </div>
        <!--验证码-->
        <div class="code-inline">
          <input formControlName="vcode" type="text" class="form-control code-input"
                 [ngClass]="{'has-error': formErrors.vcode}">
          <img id="code-validate" [src]="codeImgUrl"  class="code-img" (click)="changeCode()">
        </div>
        <!--提交按钮-->
        <div class="input-group">
          <a routerLink="/login"  class="btn btn-primary">Sign in</a>&nbsp;&nbsp;
          <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary sign-in">Register</button>
        </div>
      </form>

    </div>
  </div>
</div>
