<div class="index-one">
  <!--小导航图标-->
  <div class="small-home">
    <a class="text-center" routerLink="/"><i class="fa fa-home fa-2x"></i></a>
  </div>
  <!--标题-->
  <div class="container-fluid text-center animated fadeInDown">
    <h1 class="login-logo">AUST</h1>
    <h6 class="text-danger" v-text="err_msg"></h6>
  </div>
  <!--登录表单-->
  <div class="row animated fadeInUp">
    <div class="login-field">
      <form role="form"  method="post" action="login" id="loginForm">
        <!--邮箱-->
        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Email" id="email" required name="email">
        </div>
        <!--密码-->
        <div class="input-group form-group" >
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control" placeholder="Password" required name="password">
        </div>
        <!--验证码-->
        <div class="msg-inline">
          <input type="text" class="form-control code-input" required name="codevalidate">
          <img  class="code-img">
        </div>
        <!--记住用户名-->
        <label class="checkbox">
          <input type="checkbox"  value="1">
          Remember me
        </label>
        <!--提交-->
        <div class="input-group">
          <a routerLink="/register" class="btn btn-primary">Register</a>&nbsp;&nbsp;
          <button type="button" class="btn btn-primary sign-in" >Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
