<div class="index-one text-center">
  <div class="row animated fadeInDown margin-header-top">
    <div class="col-md-12">
      <h2>这是一个ACM入门平台</h2>
      <br/>
      <h4 class="opacity-title">
        这里给你提供入门指导和训练,相信在这个平台下你会找到自己的方向</h4>
      <br/>
    </div>
  </div>
  <div class="row animated fadeInDown">
    <div class="col-md-4 col-md-offset-4">
      <!--邮箱地址-->
      <form class="sign-form">
        <div class="form-group">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email Address"
                   required name="email" [(ngModel)]="email">
            <span class="input-group-btn">
                  <button class="btn" type="button" (click)="toRegister()">Sign Me Up!</button>
                </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--代码图-->
  <div class="row">
    <div class="index-one-img">
      <img src="assets/images/bg-one-img.png" class="animated fadeInUp img-responsive">
    </div>
  </div>
</div>

<!--two pproblemtart-->
<div class="index-two text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="assets/images/bg-two-start.png">
          <div class="caption">
            <h3>要从这里开始</h3>
            <p >
              如果你是个初学者,那么就从这里开始,你可以在这里学习到一些基础的算法和技巧,牢固的基础有助于你走的路长久</p>
            <a role="button" class="btn btn-primary" routerLink="aust/start">Start</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="assets/images/bg-two-practice.png">
          <div class="caption">
            <h3>不断接受训练</h3>
            <p>
              技巧总需要锤炼,你需要在这里不断地进行练习,直到你熟练掌握这些技巧和方法,从而拿到通往进阶之路的钥匙,开启下一关</p>
            <a role="button" class="btn btn-primary" routerLink="aust/practice">Practice</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="assets/images/bg-two-master.png">
          <div class="caption">
            <h3>高手必经之路</h3>
            <p>
              浮躁的人容易问:我到底该学什么;浮躁的人容易问:X技术有钱途吗;什么是浮躁的人?只观望而不学或只学而不坚持的人</p>
            <a role="button" class="btn btn-primary" routerLink="aust/master">Master</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="assets/images/bg-two-read.png">
          <div class="caption">
            <h3>多读才会进步</h3>
            <p>三人行必有我师焉,则其善者而从之,其不善者而改之<br>乐于汲取和分享才会使你更加进步,且要多读,多问,多练
            </p>
            <a role="button" class="btn btn-primary" routerLink="aust/article">Read</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--three pproblemtart-->
<div class="index-three">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-5">
        <div class="list-view-item" *ngFor="let item of indexUpUsers" >
          <img src="{{item.avatar}}" class="img-circle" width="55px" height="55px" style="max-width: 100%">
          <h5>{{item.nickname}}</h5>
          <p>{{item.honor}}</p>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="list-view-item" *ngFor="let item of indexDownUsers" >
          <img src="{{item.avatar}}" class="img-circle" width="55px" height="55px" style="max-width: 100%">
          <h5>{{item.nickname}}</h5>
          <p>{{item.honor}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


