@charset "UTF-8";
/*common start*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #EAE8DF;
  font-size: 1.3rem;
}

b, strong {
  font-weight: bolder;
}

p {
  font-size: 1.6rem;
  overflow: hidden;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

table {
  font-size: 1.6rem;
}

th {
  text-align: center;
}

td {
  padding: 3px 7px;
}
/*common end*/

.margin-header-top {
  padding-top: 10%;
  color: #fff;
}
