@charset "UTF-8";
@import "/node_modules/ng2-toastr/bundles/ng2-toastr.min.css";

/*common start*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #EAE8DF;
  font-size: 1.3rem;
}

b, strong {
  font-weight: bolder;
}

p {
  font-size: 1.6rem;
  overflow: hidden;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

table {
  font-size: 1.6rem;
}

th {
  text-align: center;
}

td {
  padding: 3px 7px;
}
/*common end*/

.margin-header-top {
  padding-top: 10%;
  color: #fff;
}

/*aside*/
.widget aside{
  background: #F7F6F1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: #867F6F;
  overflow: hidden;
  max-width: 315px;
  position: relative;
}

.widget h5 {
  max-width: 315px;
  margin: 0 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E2D2;
  text-align: center;
}

.widget h5 span:before, .widget h5 span:after {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  border-radius: 8px;
  z-index: 0;
  top: 8px;
  background-color: #D0C6B0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.widget h5 span:before {
  left: 30px;
  top: 15px;
}

.widget h5 span:after {
  right: 30px;
  top: 15px;
}
.widget a {
  color: #867F6F;
  padding-left: 5px;
  padding-right: 5px;
}
.widget a:hover {
  color: black;
}
.widget p {
  margin-bottom: 5px;
  padding-left: 10px;

}

